{% load i18n %}
{%load static%}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
</head>
<footer class="links">
    <div class="footer-content">
        <div class="panel1">
        <a class="hover" href=""><img  src="/static/img/favicon/android-chrome-512x512.png"  width="50px" height="50px"/></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram" id="hover"></a>
        <a href="https://www.facebook.com/" class="fa fa-facebook" id="hover"></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter" id="hover" style="margin-right:30%"></a>
    </div>
<div class="panel2">
        <ul class="footer-list">
           <li style="margin-right:20%"><a href="{% url 'os' %}" class="footer-a">operating systems</a></li>
            <li><a href="{% url 'sql' %}" class="footer-a" >SQL</a></li>
            <li style="margin-left:20%"><a href="{% url 'cn' %}" class="footer-a">Computer Networks</a></li>
            <li style="margin-left:20%"><a href="{% url 'dsa' %}" class="footer-a">DSA</a></li>
            <li style="margin-left:20%;margin-right:50%"><a href="{% url 'toc' %}" class="footer-a">Theory of Computation</a></li>
        </ul>
        </div>
    </div>
    <tr>ByteSource</tr>
    <tfoot> © Copyright 2024<br/>All Rights Reserved.</tfoot>
</table>
</footer>
<script type="text/javascript" src="/static/css/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/css/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap.min.js"></script>
</html>
