
{% extends "toc1.html" %}
{%include "Head.html"%}
{% load i18n %}
{% block content %}
{%load static%}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>
    <nav class="navbar">
        <ul class="navhead">
            <li><a href="{% url 'dsa' %}">DSA</a></li>
            <li><a href="{% url 'sql' %}">SQL</a></li>
            <li><a href="{% url 'os' %}">Operating System</a></li>
            <li><a href="{% url 'toc' %}">Theory of Computation</a></li>
            <li><a href="{% url 'cn' %}">Computer Networks</a></li>
        </ul>
    </nav>
    <h1>2. Finite Automata</h1> <!-- Fixed header -->
    <aside>
        <p class="aside-anchors">Contents:</p>
        <hr>
        <a href="{% url 'toc1' %}" class="aside-anchors">1. Introduction to Theory of Computation</a>
        <a href="{% url 'toc2' %}" class="aside-anchors">2. Finite Automata</a>
        <a href="{% url 'toc3' %}" class="aside-anchors">3. Context-Free Grammars</a>
        <a href="{% url 'toc4' %}" class="aside-anchors">4. Turing Machines</a>
        <a href="{% url 'toc5' %}" class="aside-anchors">5. Computability and Complexity</a>
    </aside>
    <main>
        <hr>
        <br>
        <p>
            Finite automata are abstract machines that can be in one of a finite number of states at any given time. They are used to recognize patterns within input sequences and are fundamental to the theory of computation.
        </p>
        <p>
            A finite automaton consists of a finite set of states, a set of input symbols, a transition function, and a start state (and possibly one or more accepting states). It can transition from one state to another based on the input it receives.
        </p>
        <p>
            Finite automata come in various forms, such as deterministic finite automata (DFA) and nondeterministic finite automata (NFA). DFA has a unique transition from each state for every input symbol, while NFA may have multiple possible transitions for a given input symbol.
        </p>
        <p>
            Finite automata have applications in various areas of computer science, including lexical analysis in compilers, pattern matching, and modeling of hardware circuits.
        </p>
    </main>
</body>
{% endblock %}